

// top bar

$topbar-background: #C2E8F2;
$topbar-fontcolor: #616171;

// side bar
$sidebar-background: #192734;
$sidebar-linecolor: #c1c1d1;

//background

$background-color: #2E4257;

//post elements
$card-color: #fff;
$post-background: #272727;
$post-bars: #3E1E0F;

$body-fontcolor: #eee;

$link-color: #eee;

//form
$form-search-bg: #fff;


$black: #000;
$white: #fff;
$upvote: #03191e;
$downvote: #e54b4b;
$postborder: #eee;
$drop-shadow: rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
$panel-color: #CDDDDD;
$postelement-color: #CDDDDD;
$highlight-color: #03191e;
$hight-font-color: #e54b4b;
$alert-green: green;
