.btn {
  border: 0;
  background: none;
  box-shadow:none;
  @include card1();
  min-height: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
}
