
.filter-nav {
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 20px;
  a {
    font-weight: bold;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    &:hover {
      background-color: $sidebar-background;
    }
  }
}

.filter-styles {
  margin: 5px;
  display: none;
}

.filterstyle-button {
  display: inline-block;
}
