

.imagepreview {
  margin-left: auto;
  margin-right: auto;
  border-top: 1px black;
  background: lightgrey;
  margin-top: 5px;
  border-radius: 5px;

  video {
    display: block;
    margin: 0 auto;
  }
  div {
    display: block;
    margin: 0 auto;
  }
}

.image-title {
  background-color: grey;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 20px;
}

.album {
  position: relative;
}
.image-controls {
  position: absolute;
  top: 5px;
  right: 5px;
  a {
    display: inline-block;
  }
}

.album-title {
  h1 {
    display: inline-block;
  }
}

.album-collapse {
  display: inline-block;
}
