


.info-bar {
  width: 100%;
  border-bottom: 1px solid;
  border-color: $sidebar-linecolor;
}

.infobar-title{
  display: inline-block;
  width: 100%;
  padding: 10px;
  min-height: 20px;
}

.infobar-body{
  padding: 8px;
  display: none;
  color: $font-light;
}

.welcome-message {
  padding: 5px;
}
