#centerPage {
  width: 900px;
  height: 1200px;
  margin:0 auto;

  background-color: #D6ECF2;

}

html {
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

div {
    border: 1px solid #000000;
}

#titleBox {
  width: 900px;
  background-color: lightblue;
  color:#0000FF;
  height: 25px;

}

#filterbar {
  width: 200px;
  height: 100%;
  float:left;
}
ul {
  padding-left: 0px;
}

.filterbarelement {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}



.contents {
  padding:10px;
  width: 670px;
  float: left;
}

.postLink {

}

.commentLink {
  font-size: 10px;
}

.postLink {
}

#posts {

}

.upvote {
  color: #001100;
  text-decoration:none;
}
.downvote {
  color: #110000;
  text-decoration:none;
}

.post {
  margin: 2px;
  padding:5px;
}

#register {
  display:inline-block;
}

.tag {
  display:inline-block;
  background-color: lightblue;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  text-decoration:none;
}

.filterContainer {
  background-color: #F3F9FB;
}
