#centerPage {
  width: 100%;
  height: 900px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  background-color: #D6ECF2;

}

html {
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}


div {
    border: 1px solid #000000;
}

.upvoteButton {
}

.downvoteButton {
}

.linkIcon {
  padding: 0px;
  border: 0;
  margin: 0;
  vertical-align: middle;
}

.voteButtons {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}


.postLink {
  display: inline;
}

.postBody {
  display: inline-block;
}


#titleBox {
  width: 100%;
  background-color: lightblue;
  color:#0000FF;
  height: 25px;

}

.filterIcon {
  display:inline-block;
  background-color: lightblue;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  font-size:  10px;
  text-decoration:none;
}

#filterbar {
  width: 150px;
  height: 100%;
  float:left;
}
#infobar {
  width: 150px;
  height: 100%;
  float:right;
}

#filterbar ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.filterbarelement {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}



.contents {
  width: 70%;
  position: relative;
  float:left;
}


.commentLink {
  font-size: 10px;
}

#posts {
  position:relative;
}

.upvote {
  color: #001100;
  text-decoration:none;
}
.downvote {
  color: #110000;
  text-decoration:none;
}

.post {
  display: flex;
  margin: 0px;
  padding:3px;
}

#register {
  display:inline-block;
}

.tag {
  display:inline-block;
  background-color: lightblue;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  font-size:  10px;
  text-decoration:none;
}

.filterContainer {
  background-color: #F3F9FB;
}
