/* app css stylesheet */



html, body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
}

div {
   /*border: 1px solid #000000;*/
}

#topBar {
  box-shadow: 1px 1px 3px #888888;
  background-color: green;
  width: 100%;
  height:40px;

}


.topBarItems {
  float: right;
  height: 30px;
  width:140px;
  padding: 5px;
}

.filterItem {
  width: 100%;
  margin: 0;
    padding: 0;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 200px !important;
}

.holder {
  width:auto;
  height: auto;
}


#filterSearch {
  width: 95%;
}

.filterBar {
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ADC299;
  float: left;
}
.content {
  background-color: #E6F0E6;
  float: left;
  width: 80%;
  height: 100%

}

.postItem {
  background-color: white;
  margin: 5px;
  box-shadow: 1px 1px 3px #888888;
}

.postItemDownVote {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: red;
}
