
// Vendor
@import 'vendor/all';

// Modules
// no css output just variables and functions
@import 'modules/all';

// Partials
@import 'partials/base';



.hidden-search-input {
  position: absolute;
  left: -9999px
}

.form-control {
  border-radius: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 28px;
}

.togglefilter-selected {
  border-style: solid;
  border-width: 1px;
}

.usercomment-info {
  font-size: 10px;
}
