$link-color: #000;
$background-color: #e8eff7;
$title-box-color: #add8e6;
$black: #000;
$white: #fff;
$upvote: #beb;
$downvote: #ebb;
$postborder: #eee;
$drop-shadow: rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
$panel-color: #f9fbff;
$highlight-color: #88add8;
$alert-green: green;

.center-page {

  display: flex;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  padding-left: 3px;
  padding-right: 3px;

}



@mixin card1(){
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: $panel-color;
}

body {
  min-height: 100%;
}
html,body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 100%;

  margin: 0px;

  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    background-color: #ffffff;
  }
}

.banned {
  background: #c17272 !important;;
  background-color: #c17272 !important;;
}



.filterbar-all {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 100%;
  vertical-align: middle;
}

.usercomment-info {
  font-size: 10px;
}

.filterbarelement {
  display: block;
  width: auto;
  height: 30px;
  line-height: 30px;
  text-align: left;
  vertical-align: middle;

  .filterbar-subscribe {
    display: inline-block;
    min-width: 10px;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }


  .filterbar-link {

    display: inline-block;
    height: 100%;
    min-width: 120px;

  }
}

.filter-searchbox-main {
  width: 100px;
}

.filter-item form {
  display: inline-block;

}

.filter-description {
  display: inline-block;
}

.filter-sort {
  margin-top: 5px;
  background-color: #333;
  white-space: nowrap;
  overflow-y: scroll;
}

.form-search {
  border: none;
}

.filter-sort li {
  display: inline-block;
}

.filter-contents {

}

.panel {
  @include card1();
}



.post-icon {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: top;
}


.navbarscroller {
  min-width: 900px;
}



.filter-style-select {
  display: inline;
}

.session-killed {
  background-color: #ffcccc;
}

.session-active {
  background-color: #ccffcc;
}


.title-box {

  background-color: $title-box-color;
  height: 25px;
  margin: 5px;
  background: $background-color;
  border-radius: 2px;
  padding: 3px;
  box-shadow: 0 1px 3px $drop-shadow;

}

.togglefilter-selected {
  border-style: solid;
  border-width: 1px;
}

.filter-icon {
  display: inline-block;
  background-color: $background-color;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  font-size:  10px;
  text-decoration: none;
}

.tab-buttons {
  padding: 3px;

  a {
    text-decoration: none;
    color: $black;
    margin: 5px;
    width: 100%;
  }
}


.top-nav {
  @include card1();
  height: 40px;
  background-color: $highlight-color;

  width: 100%;

  z-index:11;
  margin: 0px;
  border-radius: 0px;

  .gin {
    display: inline-block;
    padding-top: 7px;
    float:right;
    margin-right:10px;
  }
}


.home-link {
  display: inline-block;
  vertical-align: top;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 12px;
  height: 100%;
  box-sizing: border-box;
}
.site-search {
  padding-left: 5px;
  display: inline-block;
  vertical-align: top;
  padding-top: 6px;
}
.form-login {
  float: right;
  margin-right: 10px;
  vertical-align: top;
  padding-top: 6px;
}


.form-login > div {
  display: none;
  position: absolute;
  right: 10px;
  top: 45px;

  z-index: 5;
}
.grecaptcha-logo {
  margin: 0px;
}

.filter-nav {
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 20px;
  a {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.filter-styles {
  margin: 5px;
  display: none;
}

.post-icon-link {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}


.filterstyle-button {
  display: inline-block;
}

.settings-link {
  float:right;
  margin-right:12px;
  margin-top: 12px;
  clear:both;
}

.settings-alert {
  color: $alert-green;
}


.filter-bar {
  @include card1();
  display: table-cell;
  width: 200px;
  position: static;
  border-radius: 0px;
  z-index: 8;

  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}


.vote-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 50px;
  height:100%;
  min-width: 50px;

  .post-upvote {
  }

  .post-upvote-default {
    display: inline-block;
    background-color: $upvote;
    width: 50%;
    height: 100%;
    text-align: center;
    a {
    }
  }

  .post-downvote-default {
    display: inline-block;
    background-color: $downvote;
    width: 50%;
    height: 100%;
  }
}

.post-upvote-default-img, .post-downvote-default-img {
  display: block;
  width: 100%;
  margin-top: 15px;
  vertical-align: middle;
  text-align:left;
  line-height: 100%;
  font-size: 20px;
  margin-left: 2px;
}

.post-upvote-default-img {
  color: lighten($upvote, 10%);

}

.post-downvote-default-img {
  color: lighten($downvote, 10%);
}



.settings-menu {
  @include card1();
  height: auto;
  width: 170px;
  display: none;
  float: none;
  position: absolute;
  top: 60px;
  right: 5px;
  z-index: 10;

  ul {
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: left;
    vertical-align: middle;
    ul {
      display: none;
    }
  }
}

.main {
  display: table;
  min-height: 100%;
  width: 100%;
}

.filter-hamburger {
  padding: 7px;
}

.filter-nav-bar .hamburger {
  display: none;
}

  .filter-nav-bar {
    margin-bottom: 5px;
  }


.hamburger {
  padding: 3px;
  width: 35px;
  height: 35px;
  display: inline-block;
}

.navbar-nav > li > a{
  padding:8px;
}

.home-link {
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}


.collapse.navbar-collapse {
  padding-left: 2px;
  padding-right: 2px;
}

.navbar-form {
  margin: 3px;
  padding: 0px;
}

.hidden-search-input {
  position: absolute;
  left: -9999px

}

.form-control {
  border-radius: 2px;

  padding-top: 0px;
  padding-bottom: 0px;
  height: 28px;
}


.navbar {min-height:32px !important}

.email-submit {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
}

.filter-allsearch {
  margin-left: 5px;
  margin-right: 5px;
  height: 25px;
}

.info-burger {
  height: 25px;
  width: 25px;
  margin: 5px;
}


@media only screen and (max-width: 360px) {
  .login-button {
    display: none;
  }

}
@media only screen and (max-width: 1026px) {
  .filter-bar {
    @include card1();
    border-radius: 0px;
    float: none;
    display: none;
    width: 250px;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 10;
  }


  .settings-menu {
    @include card1();
    margin-right: 5px;
    float: none;
    position: fixed;
    top: auto;
    bottom: 60px;
    right: 0;
    z-index: 10;
  }

  .filter-hamburger {
    display:inline;
  }

  .filter-nav-bar .hamburger {
    display: inline;
  }

  .filter-nav-bar {
    margin-bottom: 5px;
  }

  .filter-nav-bar {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
  }
  .filter-search-form {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    input {
      width: 200px;
    }
  }

  .contents {
    display: table-cell;
    margin-bottom: 30px;
  }
  .top-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;

    margin: 0px;
    div {
      padding-right: 0;
    }

    .gin {
      vertical-align:top;
      padding-top: 3px;
      float:none;
      margin: 5px;
      margin-left: 0px;
    }



    .form-login > div {
      display: none;
      position: absolute;
      right: 10px;
      top: auto;
      bottom: 50px;

      z-index: 5;
    }
  }


  .siteSearch {
    display: block;
    vertical-align: top;
    padding-top: 6px;
  }


}

.filter-search-form {
  padding-left: 8px;
}


.info-bar {
  margin: 5px;

}

.contents {
  position: relative;
  overflow: hidden;
}

.box-wrap {
  position: relative;
}

#box-one {
  padding: 10px;
}

#box-one:target, #box-two:target {
  z-index: 1;
}

ul {
  list-style-type: none;
}

.btn {
  border: 0;
  background: none;
  box-shadow:none;
  @include card1();
  min-height: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
}


.info-box {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  background: $white;
  min-height: 300px;
}


.comment-link, .user-link  {
  font-size: 10px;
  display: inline-block;
}

.upvote {
  color: #001100;
  text-decoration: none;
}

.downvote {
  color: #110000;
  text-decoration:none;
}

.linkImg {
  display: block;
  max-width: 100%;
}

.post-line-1 {
  display: flex;
  flex-wrap: nowrap;
}



.post {
  @include card1();
  margin: 5px;
  margin-bottom: 0px;
  padding: 0px;
  background: #fff;
}

.infobar-title{
  display: inline-block;
  width: 100%;
  padding: 5px;
  min-height: 20px;
}

.infobar-body{
  padding: 5px;
  display: none;
}

.post-full-topbar {
  background-color: $postborder;
  min-height: 20px;
  padding: 5px;
  word-wrap: break-word;
}

.post-full-bottombar {
  background-color: $postborder;
  min-height: 30px;

  a {
    display: inline-block;
    min-width: 10px;
    padding-right: 8px;
    padding-left: 8px;
    line-height: 25px;
    min-height: 25px;
    height: 100%;
    vertical-align: middle;
  }
  .comment-link {
    font-size: 14px;
  }
}

.posts{
  //margin-left: 5px;
  //margin-right: 5px;
  margin-bottom: 5px;
}

.post-default {
  min-height: 50px;
  display: table;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  box-sizing: border-box;

  .vote-container {
    display: table-cell;
    vertical-align: top;
    .post-downvote {
      height: 50px;
    }
    .post-upvote {
      height: 50px;
    }
  }
  .post-icon-link{
    display: table-cell;
    width: 45px;
    padding-top: 5px;
    padding-left: 5px;
  }
  .post-body {
    display: table-cell;
    display: inline-block;
    //vertical-align: top;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    .post-text {
      word-wrap: break-word;
      margin: 0px;
    }
  }


  .post-link {
    display: inline-block;
    width: 100%;
  }
}


.post-HN {
  padding-left: 8px;
  .vote-container {
    width: 20px;
    min-width: 20px;
  }
}

.post-details {
  padding: 5px;
}

.post-controls {

}

.alert-body {
  margin: 5px;
  padding:5px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.postTopComment {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  background: lightblue;
  border-radius: 2px;
  box-shadow: 0 -1px -3px rgba(0, 0, 0,.12), 0 -1px -2px rgba(0, 0, 0, 0.24);
  display: inline-block;;
  min-height: 15px;
  width: auto;
  max-width: 400px;
  margin-left: 15px;
}

.post:focus {
  background: #e5f7ff;
}

.comment {

  margin-left: 50px;
  margin: 5px;
  padding: 5px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.comment:focus {
  background: #e5f7ff;
}

#register {
  display: inline-block;
}

.tag {
  display: inline-block;
  background-color: lightblue;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 3px;
  font-size:  10px;
  text-decoration: none;
}





.navbar {
  border: none;
  border-radius: 0px;
  @include card1();

}

.panel {
  border: none;
  border-radius: 0px;
  @include card1();

  overflow: visible;

}

.panel-default {
  margin: 5px;
  padding: 5px;
}
